{% extends 'core/base.html' %}


{% block title %}
    Acerca de
{% endblock %}


{% block content %}

    <h2>Acerca de este proyecto</h2>

    <p>
        Este proyecto fue desarrollado con Python y Django
        como parte del curso de Coderhouse.
    </p>

    <p>
        La aplicación permite gestionar productos,
        crear usuarios, iniciar sesión y administrar
        diferentes permisos.
    </p>

    <p>
        También incluye perfiles de usuario,
        búsqueda de productos y formularios
        con validación.
    </p>

{% endblock %}