{% extends 'core/base.html' %}


{% block title %}
    Nueva publicación
{% endblock %}


{% block content %}

    <h2>
        Nueva publicación
    </h2>


    <p class="page-description">
        Compartí una publicación en el blog.
    </p>


    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}


        <button type="submit">
            Publicar
        </button>

    </form>


    <br>


    <a href="{% url 'core:lista_publicaciones' %}">
        Cancelar
    </a>

{% endblock %}