{% extends 'core/base.html' %}


{% block title %}
    Eliminar publicación
{% endblock %}


{% block content %}

    <h2>
        Eliminar publicación
    </h2>


    <p>
        ¿Seguro que querés eliminar
        <strong>
            "{{ object.titulo }}"
        </strong>
        ?
    </p>


    <p>
        Esta acción no se puede deshacer.
    </p>


    <form method="POST">

        {% csrf_token %}

        <button type="submit">
            Sí, eliminar
        </button>

    </form>


    <br>


    <a href="{% url 'core:detalle_publicacion' object.id %}">
        Cancelar
    </a>

{% endblock %}