<!DOCTYPE html>
<html>

<head>
    <title>Mi primera web</title>
</head>

<body>

    <h1>Mi primera web con Django</h1>

    <h2>Hola {{ nombre }} 👋</h2>

    <p>Estoy aprendiendo {{ curso }}</p>

    <p>Tengo {{ edad }} años.</p>

    {% if edad >= 18 %}
        <p>Sos mayor de edad ✅</p>
    {% else %}
        <p>Sos menor de edad</p>
    {% endif %}


    <hr>


    <a href="{% url 'crear_producto' %}">
        Agregar nuevo producto
    </a>


    <h2>Productos</h2>


    {% for producto in productos %}

        <h3>{{ producto.nombre }}</h3>

        <p>Precio: ${{ producto.precio }}</p>

        <p>Stock: {{ producto.stock }}</p>


        <a href="{% url 'editar_producto' producto.id %}">
            Editar
        </a>

        <a href="{% url 'eliminar_producto' producto.id %}">
            Eliminar
        </a>


        <hr>

    {% empty %}

        <p>No hay productos cargados.</p>

    {% endfor %}


</body>

</html>