{% extends 'core/base.html' %}


{% block title %}
    Mi perfil
{% endblock %}


{% block content %}

    <h2>Mi perfil</h2>


    <p>
        Usuario:
        <strong>
            {{ user.username }}
        </strong>
    </p>


    <form method="POST">

        {% csrf_token %}


        <h3>
            Información personal
        </h3>

        {{ usuario_form.as_p }}


        <h3>
            Información del perfil
        </h3>

        {{ perfil_form.as_p }}


        <button type="submit">
            Guardar cambios
        </button>

    </form>

{% endblock %}
